@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
html{
    --primary-color: #030530;
    --secondary-color: #75C649;
    --text-color: white;
    background-color: var(--primary-color);
}
::after, ::before, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
a, a:hover{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
}
input{
    outline: none;
    border: none;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 0);
}
/* Track */
::-webkit-scrollbar-track {
    background-color: var(--primary-color); 
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text-color); 
    border-radius: 205px;
    cursor: pointer;
}